<div class="comment reply" id="comment-{{ comment.id }}">
    <div class="comment-header">
        <div class="comment-author">
            {% if comment.is_anonymous %}
                Anonymous
            {% else %}
                {{ comment.name }}
            {% endif %}
        </div>
        <div class="comment-date">{{ comment.created_at|date:"F d, Y" }}</div>
    </div>
    <div class="comment-content" id="comment-content-{{ comment.id }}">
        {{ comment.content|linebreaks }}
    </div>
    
    <div class="comment-actions">
        {% if user.is_authenticated and user == comment.user or comment.edit_token and comment.edit_token in user_tokens %}
            <button class="action-button edit-comment-button" data-comment-id="{{ comment.id }}">
                <i class="fas fa-edit"></i> Edit
            </button>
            <button class="action-button delete-comment-button" data-comment-id="{{ comment.id }}">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        {% endif %}
    </div>
    
    <div class="edit-form-container" id="edit-form-container-{{ comment.id }}"></div>
</div>