absl-py==2.3.0
annotated-types==0.7.0
anyio==4.9.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
astunparse==1.6.3
azure-core==1.34.0
azure-identity==1.23.0
azure-keyvault-secrets==4.9.0
azure-storage-blob==12.25.1
beautifulsoup4==4.13.4
bleach==6.2.0
blis==1.3.0
Brotli==1.1.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
colorama==0.4.6
confection==0.1.5
contourpy==1.3.2
cryptography==45.0.3
cssselect2==0.8.0
cycler==0.12.1
cymem==2.0.11
deep-translator==1.11.4
distro==1.9.0
dj-database-url==3.0.0
Django==5.2.2
django-ckeditor-5==0.2.18
django-cors-headers==4.7.0
django-heroku==0.3.1
django-ipware==7.0.1
django-js-asset==3.1.2
django-storages==1.14.6
django-useragents==0.3.1
django-zipfile==0.4.0
docx==0.2.4
docx2pdf==0.1.8
docxpy==0.8.5
Faker==37.3.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.1
fsspec==2025.5.1
fuzzywuzzy==0.18.0
gast==0.6.0
gevent==25.5.1
greenlet==3.2.3
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.16.0
h5py==3.13.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
idna==3.10
inflate64==1.0.3
isodate==0.7.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
keras==3.10.0
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
Levenshtein==0.27.1
libclang==18.1.1
loguru==0.7.3
lxml==5.4.0
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
multivolumefile==0.2.3
murmurhash==1.0.13
namex==0.1.0
networkx==3.5
numpy==2.1.3
olefile==0.47
openai==1.82.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
oscrypto==1.3.0
packaging==25.0
pandas==2.2.3
pdf2image==1.17.0
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
preshed==3.0.10
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
psycopg-pool==3.2.6
psycopg2==2.9.10
py7zr==1.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybcj==1.0.6
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pydyf==0.11.0
Pygments==2.19.1
pyHanko==0.29.0
pyhanko-certvalidator==0.27.0
PyJWT==2.10.1
PyMuPDF==1.26.0
pyparsing==3.2.3
pypdf==5.6.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
pyppmd==1.2.0
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-ipware==3.0.0
pytz==2025.2
PyYAML==6.0.2
pyzstd==0.17.0
RapidFuzz==3.13.0
rarfile==4.2
regex==2024.11.6
reportlab==4.4.1
requests==2.32.3
rich==14.0.0
rsa==4.9.1
ruff==0.4.10
scipy==1.15.3
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.7
sqlparse==0.5.3
srsly==2.5.1
svglib==1.5.1
sympy==1.14.0
tenacity==9.1.2
termcolor==3.1.0
texttable==1.7.0
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritools==5.0.0
urllib3==2.4.0
user-agent==0.1.10
user-agents==2.2.0
weasel==0.4.1
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
whitenoise==6.9.0
win32_setctime==1.2.0
wkhtmltopdf==0.2
wrapt==1.17.2
xhtml2pdf==0.2.17
zipfile36==0.1.3
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1